@model CartWidget
<div class="utility-nav cart-nav">
    <a href="#" class="btn btn-default cart-btn">
        <div class="cart-text">
            <span id="cart-amount">0</span>&nbsp;<i class="fa fa-shopping-cart"></i>
        </div>
    </a>
</div>