.classpath
.project
.checkstyle
*.iml
.idea
.settings/
target/
cd_licenses.xml
obj
bin
*.user
*.suo
packages/
_references
TestResults
eclprovider.runsettings
odata-client.runsettings
application-test.properties
application-local.yml
ImportExport/
Tridion.ExternalContentLibrary*.dll
query-lang*.jar
ws-client-*.jar
IKVM.*.dll
query-lang-*.dll
.vs/

dxa.net/ecommerce-framework-dotnet/_ReSharper.Caches/
*.DotSettings
dxa.net/Nuget/packages

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.ncrunch*