.classpath
.project
.checkstyle
*.iml
.idea
.settings/
target/
cd_licenses.xml
obj
bin
*.user
*.suo
packages/
_references
TestResults
eclprovider.runsettings
application-test.properties
ImportExport/
Tridion.ExternalContentLibrary*.dll
query-lang*.jar
ws-client-*.jar
IKVM.*.dll
query-lang-*.dll
.vs/
