<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FASWebServiceSoapBinding" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://preview:8180/fredhopper-ws/services/FASWebService"
                binding="basicHttpBinding" bindingConfiguration="FASWebServiceSoapBinding"
                contract="FredhopperWS.FASWebService" name="FASWebService" />
        </client>
    </system.serviceModel>
</configuration>