<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="demandwareShopUrl" value="[Demandware Shop URL, e.g. http://mysite.demandware.net/s/SiteGenesis]" />
    <Parameter name="demandwareClientId" value="[Demandware Client ID]" />
  </TestRunParameters>

</RunSettings>
