<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Service" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.5.0.1014" newVersion="8.5.0.1014" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.DiscoveryService" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.5.0.1014" newVersion="8.5.0.1014" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentDelivery" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.1003" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Context.OData.Client" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.1003" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Context.Api" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.1019" newVersion="10.1.0.1019" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentDelivery.AmbientData" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.1003" newVersion="10.1.0.1003" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net />
</configuration>