/*
     Specific styles needed for the E-Commerce module.
     TODO: Should be moved into the main design asset.
*/

/****** Search *******/

/* Defined by the standard white-label design
.navbar-search {
    margin-top: 4px;
}

.search-box {
    position: relative;
}

.search-box .fa-search {
    position: absolute;
    font-size: 20px;
    top: 6px;
    left: 8px;
    color: grey;
}

.search-box input {
    padding-left: 32px;
}
*/

/***** Breadcrumb *****/

.active-facets {
    margin-top: -8px;
    margin-bottom: 8px;
}
.item-count {
    float: right;
}
li.item-count:before {
    content: "" !important;
}

li.detail-home-nav:before {
    content: "\00a0" !important;
}

/***** Facets *********/

.facet-item {
    font-size: 14px;
}
.facet-link:hover {
    text-decoration: none;
}
.category-facets {
    margin-left: -20px;
}

/***** Item Lister ****/

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.lister-product-teaser {
    margin-top: 4px;
}

.lister-product-teaser:hover {
    border-color: lightgray;
    border-width: 2px;
    border-style: inset;
}

.lister-product-teaser-link:hover {
    text-decoration: none;
}

.lister-product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.lister-navigation {
    margin-top: 8px;
}

.lister-navigation-break {
    pointer-events: none !important;
}

.lister-navigation-break a {
    padding: 6px 8px !important;
}

.lister-product-pagination {
    margin-top: 6px;
}

/***** Promotions *****/

.product-promo:hover {

}

.product-promo-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.product-promo-ribbon {
    position: absolute;
    z-index: 1;
    padding: 3%;
    color: #fff;
    background: transparent;
    background: rgba(0,0,0,.6);
    margin-top: -70px !important;
    min-height: 70px;
    width: 100%;
}

.promotion-title {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 14px;
}

/******** Product Detail ******/

.product-title {
    margin-bottom: 24px;
}

@media (min-width: 480px) {
    .product-description {
        margin-top: 32px;
    }
}

.product-add-to-cart {
    margin-top: 24px;
    width: 28%;
}

.product-promo {
    margin-top: 4px;
}

/****** XPM Edit Popup *****/

.mfp-content {
    width:auto;
    height:500px;
}
